h1 {
    color: rgb(255, 128, 240);
    font-size: 43px;
    position: relative;
    display: inline-block;
    
    font-family: 'Montserrat', sans-serif;
    animation: glitter 2s alternate-reverse infinite;
}

@keyframes glitter {
    0% {
        text-shadow: 0 0 1px yellow, 0 0 4px yellow;
    }

    50% {
        text-shadow: 0 0 4px yellow, 0 0 8px yellow;
    }

    100% {
        text-shadow: 0 0 10px yellow, 0 0 4px yellow;
    }
}
body{

    text-align: center;
background: rgb(151, 66, 245);
    background: radial-gradient(circle, rgba(151, 66, 245, 1) 0%, rgba(231, 184, 178, 1) 52%, rgba(94, 43, 43, 1) 100%);
}
.down{

    padding: 12px;
    border-radius: 12px;
border: 2px solid;
    color: rgb(255, 255, 255);
    width: 50%;
}

.skies{
border-radius: 12px;
    border:none;
    padding: 14px;
    background-color: rgb(190, 122, 235);
   width: 150px;
   color: rgb(255, 255, 255);
}
form{

    padding: 30px;
background-color: rgba(137, 43, 226, 0.17);
border-radius: 12px;

}